<div class="footer">
  <div class="footer-links">
      <div><a href="#"><i class="fab fa-instagram"></i></a></div>
      <div><a href="#"><i class="fab fa-facebook"></i></a></div>
      <div><a href="#"><i class="fa-brands fa-x-twitter"></i></a></div>
      <div><a href="#"><i class="fa-brands fa-tiktok"></i></a></div>
  </div>
  <div class="mt-3">
  <p>
    <%= link_to "Legal terms", root_path, class: "link-unstyled text-decoration-none link-default-color" %> -
    <%= link_to "Careers", root_path, class: "link-unstyled text-decoration-none link-default-color" %> -
    <%= link_to "Press", root_path, class: "link-unstyled text-decoration-none link-default-color" %> -
    <%= link_to "Cookies", root_path, class: "link-unstyled text-decoration-none link-default-color" %> -
    <%= link_to "Investor Relations", root_path, class: "link-unstyled text-decoration-none link-default-color" %>
  </p>
    </p></div>
  <div>
    Made with <i class="fas fa-heart"></i> from Paris
  </div>
</div>
