<div class="banner shadow-lg" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1607623618478-384d71c091d0?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
<div class="container">
  <h1><strong>Easy Wheel</strong></h1>
  <p>Find the best of bikes <strong>around you.</strong></p>
</div>
</div>

<div class="container my-4">
<div class="d-flex justify-content-evenly mb-3">
  <div class="dropdown">
    <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Type
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Cargo</a></li>
      <li><a class="dropdown-item" href="#">Tandem</a></li>
      <li><a class="dropdown-item" href="#">Trailer</a></li>
      <li><a class="dropdown-item" href="#">Long Tail</a></li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Price
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">0 - 20€</a></li>
      <li><a class="dropdown-item" href="#">20 - 40€</a></li>
      <li><a class="dropdown-item" href="#">40 - 60€</a></li>
      <li><a class="dropdown-item" href="#">60€ et more</a></li>
    </ul>
  </div>


  <div class="dropdown">
    <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      City
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Paris</a></li>
      <li><a class="dropdown-item" href="#">Lyon</a></li>
      <li><a class="dropdown-item" href="#">Marseille</a></li>
      <li><a class="dropdown-item" href="#">Toulouse</a></li>
    </ul>
  </div>
</div>
</div>

<div class="d-flex flex-column">
  <% @bikes.each do |bike| %>
    <%= link_to bike_path(bike), class: "card-product mx-auto justify-content-start" do %>
      <img src="<%= cl_image_path bike.photo.key %>" alt="<%= bike.bike_name %>"/>
      <div class="card-product-infos">
        <h2><%= bike.bike_name %></h2>
        <h2><%= bike.price %> € per day</h2>
        <p><%= bike.description %></p>
      </div>
    <% end %>
  <% end %>
</div>
