<div class="container">
  <div class="column">
    <div class="row"></div>
    <h2>My rentals</h2>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Bike</th>
          <th scope="col">Last Name</th>
          <th scope="col">First Name</th>
          <th scope="col">Start date</th>
          <th scope="col">End date</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <% @rentals.each_with_index do |e,i| %>
          <tr>
            <th scope="row"><%= i + 1 %></th>
            <td><%= e.bike.bike_name %></td>
            <td><%= e.user.last_name %></td>
            <td><%= e.user.first_name %></td>
            <td><%= e.start_date %></td>
            <td><%= e.end_date %></td>
            <td><%= e.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h2>My bikes</h2>
    <%= link_to 'Add a bike', new_bike_path, class: 'btn btn-warning' %>

    <div class="d-flex flex-column ">
  <% @bikes.each do |bike| %>
    <%= link_to bike_path(bike), class: "card-product mx-auto justify-content-start" do %>
      <img src="<%= cl_image_path bike.photo.key %>" alt="<%= bike.bike_name %>"/>
      <div class="card-product-infos">
        <h2><%= bike.bike_name %></h2>
        <h2><%= bike.price %> € per day</h2>
      </div>
    <% end %>
  <% end %>
</div>
  </div>
</div>
