<div class="container m-3 p-3 shadow mx-auto rounded-3">
  <div class="column">
    <div class="row"></div>
    <h2 class="my-0 mx-4">My rentals</h2>

    <table class="table my-2">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Bike</th>
          <th scope="col">Client</th>
          <th scope="col">Start date</th>
          <th scope="col">End date</th>
          <th scope="col">Days</th>
          <th scope="col">Total</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <% @rentals.each_with_index do |rental,i| %>
          <tr>
            <th scope="row"><%= i + 1 %></th>
            <td><%= rental.bike.bike_name %></td>
            <td><%= rental.user.first_name %> <%= rental.user.last_name %></td>
            <td><%= rental.start_date %></td>
            <td><%= rental.end_date %></td>
            <td><%= (rental.end_date - rental.start_date + 1).to_i %></td>
            <td><%= (rental.end_date - rental.start_date + 1).to_i * rental.bike.price %> €</td>
            <td>
              <% if rental.status == "pending" %>
              <div class="dropdown me-5">
                <button class="btn btn-outline-warning dropdown-toggle btn-custom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= rental.status %>
                </button>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Accept',
                      rental_path(rental, rental: { status: 'approved' }),
                      data: { turbo_method: :patch },
                      class: 'dropdown-item' %>
                  </li>
                  <li><%= link_to 'Decline',
                      rental_path(rental, rental: { status: 'declined' }),
                      data: { turbo_method: :patch },
                      class: 'dropdown-item' %>
                  </li>
                </ul>
              </div>
              <% else %>
                <%= rental.status %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="d-flex my-4" >
      <h2 class="my-0 mx-4">My bikes</h2>
      <%= link_to 'Add a bike', new_bike_path, class: 'btn btn-warning' %>
    </div>

      <div>
        <% @bikes.each do |bike| %>
          <%= link_to bike_path(bike), class: "card-product mx-auto justify-content-start" do %>
            <img src="<%= cl_image_path bike.photo.key %>" alt="<%= bike.bike_name %>"/>
            <div class="card-product-infos">
              <h2><%= bike.bike_name %></h2>
              <h2><%= bike.price %> € per day</h2>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
