<div class="container">
  <div class="column">
    <div class="row d-flex m-4">
      <div class= "col-8">
        <img class= "img-fluid detail_img" src="<%= cl_image_path @bike.photo.key %>" />
        <h1 class= "pt-2"><%= @bike.bike_name %></h1>
        <div class="d-flex">
          <div class="detail_type">
            <%= @bike.type %>
          </div>
          <div class="detail_price">
            <%= @bike.price %>
          </div>
        </div>
          <%= @bike.description %>
      </div>
      <div class= "col-4">
        <%=@bike.user.first_name %>
        <%=@bike.user.last_name %>
      </div>
    </div>
  </div>
</div>

<div>
  <%= simple_form_for([@bike, @rental]) do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit %>
<% end %>
</div>
