<div class="container d-flex">
    <div class="row d-flex m-4">
      <div class= "col-12">
        <img class= "img-fluid detail_img shadow" src="<%= cl_image_path @bike.photo.key %>" />
        <h1 class= "pt-2"><%= @bike.bike_name %></h1>
        <div class= "col-4">Owner:
          <%=@bike.user.first_name %>
          <%=@bike.user.last_name %>
        </div>
        <div class="detail_type">
          <%= @bike.type %>
        </div>
        <div class="detail_price">
          <p><strong><%= @bike.price %> €</strong> per day</p>
        </div>
        <%= @bike.description %>
      </div>
    </div>

  <div class= "col-4 pt-5">
    <%= simple_form_for [@bike, @rental], html: { data: { controller: 'flatpickr' } } do |f| %>
      <%= f.input :start_date,
                  as: :string,
                  input_html: {
                    data: {
                      flatpickr_target: 'startDateInput'
                    }
                  } %>
      <%= f.input :end_date,
                  as: :string,
                  input_html: {
                    data: {
                      flatpickr_target: 'endDateInput'
                    }
                  } %>
      <%= f.submit 'Book now!', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
